{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block sidenav %}
    {% include "admin_side_nav.html" %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand black-text bg-white border-white">
        <b class="navbar-brand p-2 m-2" href="#"><h3>관리자 페이지</h3></b>
    </nav>

{% endblock %}


{% block content %}
    <div class="white-gradient"></div>
    <div class="container-fluid scroll mt-4">

        <!-- Card -->
        <div class="card">
            <img src="../static/image/store.jpg" alt="">
            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title" id="managerName"><a></a></h4>
                <!-- Text -->
                <p class="card-text" id="storeName"></p>


            </div>
        </div>


    </div>
{% endblock %}

{% block js %}
    <script>
        window.onload = loadStoreData;
        function loadStoreData(){
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if(xhr.readyState === 4 && xhr.status === 200){
                    const managerName = document.getElementById('managerName');
                    const storeName = document.getElementById('storeName');
                    data = JSON.parse(xhr.responseText);
                    managerName.innerHTML = data.manager_name;
                    storeName.innerHTML = data.store_name;
                }
            }
            xhr.open('post', '/store', true);
            xhr.send();
        }
    </script>
{% endblock %}